<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debt in vm.billingCycles.debts">
        <td>
          <input ng-model="debt.name" class="form-control" placeholder="Informe o Nome"
            ng-readonly="tabDelete" />
        </td>
        <td>
          <input ng-model="debt.value" class="form-control" placeholder="Informe a Valor"
            ng-readonly="tabDelete" type="number" />
        </td>
        <td>
          <input ng-model="debt.status" class="form-control" placeholder="Informe o Status" ng-readonly="tabDelete">
        </td>
        <td style="width:150px;">
          <button ng-click="vm.addDebt($index)" class="btn btn-success"><i class="fa fa-plus"></i></button>
          <button ng-click="vm.cloneDebt($index)" class="btn btn-warning"><i class="fa fa-clone"></i></button>
          <button ng-click="vm.deleteDebt($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
