<content-header name="Ciclo de Pagamentos" small="Cadastro"></content-header>

<section class="content">
  <div class="nav-tabs-custom" ng-controller="BillingCycleCtrl as vm">
    <ul class="nav nav-tabs">
      <li ng-if="vm.tabList" ng-class="{active : vm.tabList}">
        <a href data-target="#tabList" data-toggle="tab">
          <i class="fa fa-bars"></i> Listar
        </a>
      </li>
      <li ng-if="vm.tabCreate">
        <a href data-target="#tabCreate" data-toggle="tab">
          <i class="fa fa-plus"></i> Incluir
        </a>
      </li>
      <li ng-if="vm.tabUpdate" ng-class="{active : vm.tabUpdate}">
        <a href data-target="#tabUpdate" data-toggle="tab">
          <i class="fa fa-pencil"></i> Alterar
        </a>
      </li>
      <li ng-if="vm.tabDelete" ng-class="{active : vm.tabDelete}">
        <a href data-target="#tabDelete" data-toggle="tab">
          <i class="fa fa-trash-o"></i> Excluir
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tabList" ng-class="{active : vm.tabList}" ng-if="vm.tabList" ng-include="'billingCycle/list.html'"></div>
      <div class="tab-pane" id="tabCreate" ng-if="vm.tabCreate" ng-include="'billingCycle/form.html'"></div>
      <div class="tab-pane" id="tabUpdate" ng-class="{active : vm.tabUpdate}" ng-if="vm.tabUpdate" ng-include="'billingCycle/form.html'"></div>
      <div class="tab-pane" id="tabDelete" ng-class="{active : vm.tabDelete}" ng-if="vm.tabDelete" ng-include="'billingCycle/form.html'"></div>
    </div>
  </div>
</section>
